<p>
  Register here!
</p>
<div>
    First Name: <input 
    type="text"
    placeholder="First Name"
    name="firstName"
    [(ngModel)]="user.firstName">
    <div></div>
    Last Name: <input 
    type="text"
    placeholder="Last Name"
    name="lastName"
    [(ngModel)]="user.lastName">
    <div></div>
    Country: <input 
    type="text"
    placeholder="Country"
    name="realm"
    [(ngModel)]="user.realm">
    <div></div>
   Email: <input class="email"
   type="text"
   placeholder="email"
   name="email"
   [(ngModel)]="user.email">
   <p>
   Password: <input class="password"
   type="password"
   placeholder="password"
   [(ngModel)]="user.password">
</p>
</div>
<p>
<button class="btn btn-success" (click)="registerSubmit()">Register</button>
</p>